*{
  margin: 0em;
  padding: 0em;
}
.App{
   background-color: #357EC7;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   width: 100%;
   flex-wrap: wrap;
}

.cal-wrapper{
  /* max-width: 350px; */
  width: 350px;
  height: 600px;
  background: whitesmoke;
  border-radius: 2%;
  margin: auto;
  box-shadow: 0 30px 30px rgba(212, 0, 150, 0.40)

}

.row{
  display: flex;
  width: 100%;
}

